tmp/
/[di]mem_blk_ram/
/bios_mem/
/isr_mem/
/gpcode_fifo/
/mig_af/
/mig_rdf/
/mig_wdf/
/pixel_fifo/
/cache_data_blk_ram/
/cache_tag_blk_ram/
/mig_v3_36/scooper/
/fun/*/
!/fun/*.v
!*.xco
!xco.template
!stash_*
