#NOTE: RE-MERGED with XUP5.ucf and MIG from partgen output known to be clean/running.
#NOTE: Layout style and extra goodies like DRIVE, SLEW, PULLDOWN brought in from other examples.
#NOTE: DDR2 run speed set like -53E but rated -667 (for example CAS=3 for slower rate vs. 4).
#NOTE: Dilligently pulled Bank/Vcco/DCI info from XUPv5 master UCF w/consistent format.
#NOTE: TIGs added on appropriate lines like GPIO or other known ASYNC inputs.


################################################################################
# PROJECT SPECIFIC SPECIAL DATAPATHs/TIGs
################################################################################

#TODO: Apply ultra-consistent naming on cross-clock NET/INST & use wildcards (cautiously)

# Avoid false path on cross-clock synchronizers & resets (but impose an arbitrary max)
NET  "cpu_clk_g" TNM = "TN_SYNC_FROM_CPU";
INST "*/pixelfeed/*_clkDVI" TNM = "TN_SYNC_TO_DVI";
TIMESPEC "TS_CPU_SYNC_DVI" = FROM "TN_SYNC_FROM_CPU" TO "TN_SYNC_TO_DVI" 10 ns DATAPATHONLY;

NET  "dvi_clk_g" TNM = "TN_SYNC_FROM_DVI";
INST "*/pixelfeed/*_clkCPU" TNM = "TN_SYNC_TO_CPU";
TIMESPEC "TS_DVI_SYNC_CPU" = FROM "TN_SYNC_FROM_DVI" TO "TN_SYNC_TO_CPU" 10 ns DATAPATHONLY;

INST "*_clkCPU*" TNM = "TN_TO_RST_CPU";
TIMESPEC "TS_RST_SYNC_CPU" = TO "TN_TO_RST_CPU" 10 ns DATAPATHONLY;
INST "*_clkDVI*" TNM = "TN_TO_RST_DVI";
TIMESPEC "TS_RST_SYNC_DVI" = TO "TN_TO_RST_DVI" 10 ns DATAPATHONLY;
#NET "reset_advance[0]" TIG;



################################################################################
# BOARD CLOCKs & RESET
################################################################################

# Bank  4, Vcco=3.3V, No DCI
#NET  "CLK_27MHZ_FPGA"     LOC="AG18"  |  IOSTANDARD="LVCMOS33"
#NET  "CLK_27MHZ_FPGA"  TNM_NET="TN_CLK_27MHZ";
#TIMESPEC TS_27MHZ = PERIOD "TN_CLK_27MHZ" 37.0??? ns;# HIGH 50 %;

# Bank  4, Vcco=3.3V, No DCI
#NET  "CLK_33MHZ_FPGA"     LOC="AH17"  |  IOSTANDARD="LVCMOS33";
#NET  "CLK_33MHZ_FPGA"     TNM_NET="TN_CLK_33MHZ";
#TIMESPEC TS_33MHZ = PERIOD "TN_CLK_33MHZ" 30.3 ns;# HIGH 50 %;

# Bank  4, Vcco=3.3V, No DCI
NET  "USER_CLK"           LOC="AH15"  |  IOSTANDARD="LVCMOS33";
NET  "USER_CLK"           TNM_NET="TN_CLK_100MHZ";
TIMESPEC TS_100MHZ = PERIOD "TN_CLK_100MHZ" 10.0 ns;# HIGH 50 %;

# Bank  3, Vcco=2.5V, No DCI
#NET  "CLK_FPGA_N"         LOC="K19"   |  IOSTANDARD="LVDS_25" | DIFF_TERM="TRUE";
#NET  "CLK_FPGA_P"         LOC="L19"   |  IOSTANDARD="LVDS_25" | DIFF_TERM="TRUE";
#NET "some_ibufg"          TNM_NET = "TN_CLK_200MHZ";
#TIMESPEC TS_200MHZ = PERIOD "TN_CLK_200MHZ" 5 ns;# HIGH 50 %;

## A variable differential clock source can be connected to J10 and J11. If no
## other clock source is available, the DDR2 clock can be generated by the ML50x
## Diff Clk Out, J12 and J13.
## Bank 3, Vcco=2.5V, No DCI
#ON ML505-lx50 NET  SMA_DIFF_CLK_IN_N    LOC="H15"   |  IOSTANDARD="LVDS_25" | DIFF_TERM="TRUE";
#ON ML505-lx50 NET  SMA_DIFF_CLK_IN_P    LOC="H14"   |  IOSTANDARD="LVDS_25" | DIFF_TERM="TRUE";
## SW6 Setting: ug347.pdf (J54 must be connected for the Diff Clk Out to operate)
##             12345678
## 150 MHz:    11001010
## 200 MHz:    01001010
## 300 MHz:    10001010

# Bank 20, Vcco=3.3V, DCI 49.9 ohm
NET  "FPGA_CPU_RESET_B"   LOC="E9"    |  IOSTANDARD="LVCMOS33"  |  PULLUP; #Some use LVCMOS18
NET "FPGA_CPU_RESET_B" TIG;

################################################################################
# SERIAL IO
################################################################################

# UART
# Bank  4, Vcco=3.3V,  No DCI
NET  "FPGA_SERIAL1_RX"     LOC="AG15"  |  IOSTANDARD="LVCMOS33";
NET  "FPGA_SERIAL1_TX"     LOC="AG20"  |  IOSTANDARD="LVCMOS33";
NET "FPGA_SERIAL1_RX" TIG;
NET "FPGA_SERIAL1_TX" TIG;
# Bank 20, Vcco=3.3V,  DCI 49.9ohm
#NET  "FPGA_SERIAL2_RX"    LOC="G10"   |  IOSTANDARD="LVCMOS33";
#NET  "FPGA_SERIAL2_TX"    LOC="F10"   |  IOSTANDARD="LVCMOS33";
#NET "FPGA_SERIAL2_RX" TIG;
#NET "FPGA_SERIAL2_TX" TIG;

# PS/2
# Bank 15, Vcco=1.8V,  DCI 49.9ohm
#DEVICE generates the clock mostly, though HOST can pull it low at times to help sync up
#NET  "KEYBOARD_CLK"       LOC="T26"  |  IOSTANDARD="LVCMOS18";
#NET  "KEYBOARD_DATA"      LOC="T25"  |  IOSTANDARD="LVCMOS18";
#NET "KEYBOARD_CLK" TIG;
#NET "KEYBOARD_DATA" TIG;
#NET  "MOUSE_CLK"          LOC="R27"  |  IOSTANDARD="LVCMOS18";
#NET  "MOUSE_DATA"         LOC="U26"  |  IOSTANDARD="LVCMOS18";
#NET "MOUSE_CLK" TIG;
#NET "MOUSE_DATA" TIG;


################################################################################
# GPIO
################################################################################

# DIP-SWITCHES (BOTTOM-RIGHT) (SW#{1:8}==GPIO_DIP_SW{1:8}==GPIO_DIP[0:7], respectively)
#    (Bus/Rename of GPIO_DIP_SW1, GPIO_DIP_SW2, ...GPIO_DIP_SW8)
# Bank 15, Vcco=1.8V, DCI 49.9ohm
NET "GPIO_DIP[*]"       IOSTANDARD="LVCMOS18" | SLEW="SLOW" | DRIVE="2" | PULLDOWN;
NET  "GPIO_DIP[0]"        LOC="U25";
NET  "GPIO_DIP[1]"        LOC="AG27";
NET  "GPIO_DIP[2]"        LOC="AF25";
NET  "GPIO_DIP[3]"        LOC="AF26";
NET  "GPIO_DIP[4]"        LOC="AE27";
NET  "GPIO_DIP[5]"        LOC="AE26";
NET  "GPIO_DIP[6]"        LOC="AC25";
NET  "GPIO_DIP[7]"        LOC="AC24";
NET "GPIO_DIP[*]" TIG;

# PUSH-BUTTONS "COMPASS" (BOTTOM-RIGHT) (SW{14:10}==GPIO_SW_{CWESN}==GPIO_COMPPB[4:0], respectively)
#    (Bus/Rename of GPIO_SW_C, GPIO_SW_W, GPIO_SW_E, GPIO_SW_S, GPIO_SW_N)
# Bank 18, Vcco=3.3V, No DCI
NET "GPIO_COMPPB[*]"    IOSTANDARD="LVCMOS33" | SLEW="SLOW" | DRIVE="2" | PULLDOWN;
NET  "GPIO_COMPPB[4]"     LOC="AJ6";
NET  "GPIO_COMPPB[3]"     LOC="AJ7";
NET  "GPIO_COMPPB[2]"     LOC="AK7";
NET  "GPIO_COMPPB[1]"     LOC="V8";
NET  "GPIO_COMPPB[0]"     LOC="U8";
NET "GPIO_COMPPB[*]" TIG;

# ROTARY-SWITCH (BOTTOM-RIGHT)
# Bank 17, Vcco=1.8V,  DCI 49.9ohm
NET "FPGA_ROTARY_*"     SLEW="SLOW" | DRIVE="2" | PULLDOWN;
NET  "FPGA_ROTARY_INCA"   LOC="AH30"  |  IOSTANDARD="LVCMOS18";
NET  "FPGA_ROTARY_INCB"   LOC="AG30"  |  IOSTANDARD="LVCMOS18";
NET  "FPGA_ROTARY_PUSH"   LOC="AH29"  |  IOSTANDARD="LVCMOS18";
NET "FPGA_ROTARY_INCA" TIG;
NET "FPGA_ROTARY_INCB" TIG;
NET "FPGA_ROTARY_PUSH" TIG;

# LEDs "GPIO" green (BOTTOM-CENTER w/GAP)
#    (Bus/Rename of GPIO_LED_0, GPIO_LED_1, ...GPIO_LED_7)
NET "GPIO_LED[*]"       SLEW="SLOW" | DRIVE="2"; # | PULLDOWN;
NET  "GPIO_LED[0]"        LOC="H18"   |  IOSTANDARD="LVCMOS25"; # Bank  3, Vcco=2.5V, No DCI
NET  "GPIO_LED[1]"        LOC="L18"   |  IOSTANDARD="LVCMOS25"; # Bank  3, Vcco=2.5V, No DCI
NET  "GPIO_LED[2]"        LOC="G15"   |  IOSTANDARD="LVCMOS25"; # Bank  3, Vcco=2.5V, No DCI
NET  "GPIO_LED[3]"        LOC="AD26"  |  IOSTANDARD="LVCMOS18"; # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "GPIO_LED[4]"        LOC="G16"   |  IOSTANDARD="LVCMOS25"; # Bank  3, Vcco=2.5V, No DCI
NET  "GPIO_LED[5]"        LOC="AD25"  |  IOSTANDARD="LVCMOS18"; # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "GPIO_LED[6]"        LOC="AD24"  |  IOSTANDARD="LVCMOS18"; # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "GPIO_LED[7]"        LOC="AE24"  |  IOSTANDARD="LVCMOS18"; # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET "GPIO_LED[*]" TIG;

# LEDs "COMPASS" green (BOTTOM-RIGHT) (DS{24/3/1/2/0}==GPIO_LED_{CWESN}==GPIO_COMPLED_[4:0], respectively)
#    (Bus/Rename of GPIO_LED_C, GPIO_LED_W, GPIO_LED_E, GPIO_LED_S, GPIO_LED_N)
NET "GPIO_COMPLED[*]"   SLEW="SLOW" | DRIVE="2"; # | PULLDOWN;
NET  "GPIO_COMPLED[4]"    LOC="E8"    |  IOSTANDARD="LVCMOS33"; # Bank 20, Vcco=3.3V, DCI 49.9ohm
NET  "GPIO_COMPLED[3]"    LOC="AF23"  |  IOSTANDARD="LVCMOS33"; # Bank  2, Vcco=3.3V
NET  "GPIO_COMPLED[2]"    LOC="AG23"  |  IOSTANDARD="LVCMOS33"; # Bank  2, Vcco=3.3V
NET  "GPIO_COMPLED[1]"    LOC="AG12"  |  IOSTANDARD="LVCMOS33"; # Bank  2, Vcco=3.3V
NET  "GPIO_COMPLED[0]"    LOC="AF13"  |  IOSTANDARD="LVCMOS33"; # Bank  2, Vcco=3.3V
NET "GPIO_COMPLED[*]" TIG;

# LEDs "ERRORS" red (BOTTOM-CENTER left of GPIO-LEDs) (ERR{2|1}==BUS_ERROR_{2|1}, respectively)
# Bank 12, Vcco=3.3V,  DCI 49.9ohm  #NOTE: WHY 1.8V, not that LEDs care???
NET  "BUS_ERROR_1"        LOC="F6"    |  IOSTANDARD="LVCMOS18" | SLEW="SLOW" | DRIVE="2";
NET  "BUS_ERROR_2"        LOC="T10"   |  IOSTANDARD="LVCMOS18" | SLEW="SLOW" | DRIVE="2";
NET  "BUS_ERROR_1" TIG;
NET  "BUS_ERROR_2" TIG;

################################################################################
# AUDIO
################################################################################

# Bank  4, Vcco=3.3V,  No DCI
#NET "FLASH_AUDIO_RESET_B" LOC="AG17";
#NET  "AUDIO_BIT_CLK"      LOC="AF18";
#NET  "AUDIO_SDATA_IN"     LOC="AE18";
#NET  "AUDIO_SDATA_OUT"    LOC="AG16";
#NET  "AUDIO_SYNC"         LOC="AF19";

# Bank 15, Vcco=1.8V,  DCI 49.9ohm
#NET  "PIEZO_SPEAKER"      LOC="G30";
#NET "PIEZO_SPEAKER" TIG;


################################################################################
# DVI
################################################################################
# Bank 18, Vcco=3.3V, No DCI
NET  "DVI_RESET_B"        LOC="AK6"   | IOSTANDARD="LVCMOS33";

# Bank 22, Vcco=3.3V, DCI 49.9ohm
NET "DVI_D[*]"          IOSTANDARD="LVCMOS33";
NET  "DVI_D[0]"           LOC="AB8";
NET  "DVI_D[1]"           LOC="AC8";
NET  "DVI_D[2]"           LOC="AN12";
NET  "DVI_D[3]"           LOC="AP12";
NET  "DVI_D[4]"           LOC="AA9";
NET  "DVI_D[5]"           LOC="AA8";
NET  "DVI_D[6]"           LOC="AM13";
NET  "DVI_D[7]"           LOC="AN13";
NET  "DVI_D[8]"           LOC="AA10";
NET  "DVI_D[9]"           LOC="AB10";
NET  "DVI_D[10]"          LOC="AP14";
NET  "DVI_D[11]"          LOC="AN14";

# Bank 22, Vcco=3.3V, DCI 49.9ohm
NET  "DVI_DE"             LOC="AE8"   | IOSTANDARD="LVCMOS33";
NET  "DVI_H"              LOC="AM12"  | IOSTANDARD="LVCMOS33";
NET  "DVI_V"              LOC="AM11"  | IOSTANDARD="LVCMOS33";
NET  "DVI_XCLK_N"         LOC="AL10"  | IOSTANDARD="LVCMOS33";
NET  "DVI_XCLK_P"         LOC="AL11"  | IOSTANDARD="LVCMOS33";

# Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET  "DVI_GPIO1"          LOC="N30";

################################################################################
# Video I2C Bus
################################################################################
#Talk here Chrontel chip (and others) for DVI-out/VGA-in config.
# Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "IIC_SCL_VIDEO"      LOC="U27"   | IOSTANDARD="LVCMOS18";
NET  "IIC_SDA_VIDEO"      LOC="T29"   | IOSTANDARD="LVCMOS18";
NET "IIC_SCL_VIDEO" TIG;
NET "IIC_SDA_VIDEO" TIG;

################################################################################
# VGA
################################################################################
#CLK,HSOUT,VSOUT are OUTs from the Chrontel chip & INPUTs to FPGA

# Bank  4, Vcco=3.3V, No DCI
NET  "VGA_DATA_CLK"       LOC="AH18"  | IOSTANDARD="LVCMOS33";

# Bank 18, Vcco=3.3V, No DCI
NET  "VGA_HSOUT"          LOC="AE7"   | IOSTANDARD="LVCMOS33";
NET  "VGA_VSOUT"          LOC="Y6"    | IOSTANDARD="LVCMOS33";
#NET  "VGA_IN_CLAMP"      LOC="AH7"   | IOSTANDARD="LVCMOS33";
#NET  "VGA_IN_COAST"      LOC="AH7"   | IOSTANDARD="LVCMOS33";
#NET  "VGA_IN_SOGOUT"     LOC="AH7"   | IOSTANDARD="LVCMOS33";
#NET  "VGA_IN_ODD_EVEN_B" LOC="AH7"   | IOSTANDARD="LVCMOS33";

# Bank 18, Vcco=3.3V, No DCI
NET "VGA_RED[*]"        IOSTANDARD="LVCMOS33";
NET  "VGA_RED[7]"         LOC="W11";
NET  "VGA_RED[6]"         LOC="Y11";
NET  "VGA_RED[5]"         LOC="AG6";
NET  "VGA_RED[4]"         LOC="AH5";
NET  "VGA_RED[3]"         LOC="V7";
NET  "VGA_RED[2]"         LOC="W7";
NET  "VGA_RED[1]"         LOC="AF5";
NET  "VGA_RED[0]"         LOC="AG5";

# Bank 18, Vcco=3.3V, No DCI
NET "VGA_GREEN[*]"      IOSTANDARD="LVCMOS33";
NET  "VGA_GREEN[7]"       LOC="AE6";
NET  "VGA_GREEN[6]"       LOC="AD6";
NET  "VGA_GREEN[5]"       LOC="Y7";
NET  "VGA_GREEN[4]"       LOC="AA6";
NET  "VGA_GREEN[3]"       LOC="AD5";
NET  "VGA_GREEN[2]"       LOC="AD4";
NET  "VGA_GREEN[1]"       LOC="Y9";
NET  "VGA_GREEN[0]"       LOC="Y8";

# Bank 18, Vcco=3.3V, No DCI
NET "VGA_BLUE[*]"       IOSTANDARD="LVCMOS33";
NET  "VGA_BLUE[7]"        LOC="AD7";
NET  "VGA_BLUE[6]"        LOC="AC7";
NET  "VGA_BLUE[5]"        LOC="AB5";
NET  "VGA_BLUE[4]"        LOC="AA5";
NET  "VGA_BLUE[3]"        LOC="AB7";
NET  "VGA_BLUE[2]"        LOC="AB6";
NET  "VGA_BLUE[1]"        LOC="AC5";
NET  "VGA_BLUE[0]"        LOC="AC4";


################################################################################
# SRAM
################################################################################

# Bank 20, Vcco=3.3V,  DCI 49.9ohm
NET  "SRAM_CLK"           LOC="G8"    | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
#TODO:Confirm if SRAM_CLK should opt for LVCMOS33 not DCI??? Would it benefit any other IOs too?

# Bank  4, Vcco=3.3V, No DCI
NET  "SRAM_CLK_FB"        LOC="AG21"  | IOSTANDARD="LVCMOS33";

# Bank 20, Vcco=3.3V,  DCI 49.9ohm
NET  "SRAM_CS_B"          LOC="J10"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_ADV_LD_B"      LOC="H8"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_MODE"          LOC="A13"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_OE_B"          LOC="B12"   | IOSTANDARD="LVDCI_33";

# Bank  2, Vcco=3.3V, No DCI
NET  "SRAM_WE_B"          LOC="AF20"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";

# Bank 20, Vcco=3.3V,  DCI 49.9ohm
NET "SRAM_BW[*]"        IOSTANDARD="LVDCI_33";
NET  "SRAM_BW[0]"         LOC="D10";
NET  "SRAM_BW[1]"         LOC="D11";
NET  "SRAM_BW[2]"         LOC="J11";
NET  "SRAM_BW[3]"         LOC="K11";

# Bank  1, Vcco=3.3V
NET "SRAM_A[*]"         IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="8";
NET  "SRAM_A[0]"          LOC="K13";
NET  "SRAM_A[1]"          LOC="H23";
NET  "SRAM_A[2]"          LOC="G23";
NET  "SRAM_A[3]"          LOC="H12";
NET  "SRAM_A[4]"          LOC="J12";
NET  "SRAM_A[5]"          LOC="K22";
NET  "SRAM_A[6]"          LOC="K23";
NET  "SRAM_A[7]"          LOC="K14";
NET  "SRAM_A[8]"          LOC="L14";
NET  "SRAM_A[9]"          LOC="H22";
NET  "SRAM_A[10]"         LOC="G22";
NET  "SRAM_A[11]"         LOC="J15";
NET  "SRAM_A[12]"         LOC="K16";
NET  "SRAM_A[13]"         LOC="K21";
NET  "SRAM_A[14]"         LOC="J22";
NET  "SRAM_A[15]"         LOC="L16";
NET  "SRAM_A[16]"         LOC="L15";
NET  "SRAM_A[17]"         LOC="L20";

# Bank  2, Vcco=3.3V, No DCI
NET  "SRAM_D[0]"          LOC="AD19"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[1]"          LOC="AE19"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[2]"          LOC="AE17"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[3]"          LOC="AF16"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[4]"          LOC="AD20"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[5]"          LOC="AE21"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[6]"          LOC="AE16"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[7]"          LOC="AF15"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";

# Bank  4, Vcco=3.3V, No DCI
NET  "SRAM_D[8]"          LOC="AH13"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[9]"          LOC="AH14"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[10]"         LOC="AH19"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[11]"         LOC="AH20"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[12]"         LOC="AG13"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[13]"         LOC="AH12"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[14]"         LOC="AH22"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";
NET  "SRAM_D[15]"         LOC="AG22"  | IOSTANDARD="LVCMOS33" | SLEW="FAST" | DRIVE="12";

#TODO: Could these be drivin idential to other SRAM_D? (and like CLK? using LVCMOS33/FAST/12???)
# Bank 20, Vcco=3.3V,  DCI 49.9ohm
NET  "SRAM_D[16]"         LOC="N10"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[17]"         LOC="E13"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[18]"         LOC="E12"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[19]"         LOC="L9"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[20]"         LOC="M10"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[21]"         LOC="E11"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[22]"         LOC="F11"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[23]"         LOC="L8"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[24]"         LOC="M8"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[25]"         LOC="G12"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[26]"         LOC="G11"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[27]"         LOC="C13"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[28]"         LOC="B13"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[29]"         LOC="K9"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[30]"         LOC="K8"    | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[31]"         LOC="J9"    | IOSTANDARD="LVDCI_33";

# Bank 20, Vcco=3.3V,  DCI 49.9ohm  (PARITY as extra high 4-bits tacked on DATA-BUS)
NET  "SRAM_D[32]"         LOC="D12"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[33]"         LOC="C12"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[34]"         LOC="H10"   | IOSTANDARD="LVDCI_33";
NET  "SRAM_D[35]"         LOC="H9"    | IOSTANDARD="LVDCI_33";

NET "SRAM_D[*]" PULLDOWN; #Likely necessary to read while high-z...examples DO do this.


############################################################################
##
##  Xilinx, Inc. 2006            www.xilinx.com
##  Sun Nov 17 05:24:28 2013
##  Generated by MIG Version 3.6.1
##
############################################################################
##  File name :       mig_3_6_1.ucf
##
##  Details :     Constraints file
##                    FPGA family:       virtex5
##                    FPGA:              xc5vlx110t-ff1136
##                    Speedgrade:        -1
##                    Design Entry:      VHDL
##                    Design:            with Test bench
##                    DCM Used:          Enable
##                    Two Bytes per Bank:Disable
##                    No.Of Controllers: 1
##
############################################################################

############################################################################
# Clock constraints                                                        #
############################################################################

#NET "u_ddr2_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK" ;
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 5 ns HIGH 50 %;
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 3.75 ns HIGH 50 %;
#
#NET "u_ddr2_infrastructure/clk200_ibufg" TNM_NET = "SYS_CLK_200" ;
#TIMESPEC "TS_SYS_CLK_200" = PERIOD "SYS_CLK_200" 5 ns HIGH 50 %;


############################################################################
########################################################################
# Controller 0
# Memory Device: DDR2_SDRAM->SODIMMs->MT4HTF3264HY-53E
# Data Width:     64
# Frequency:      200
# Time Period:      5000
# Data Mask:     1
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET  "DDR2_D[*]"                                IOSTANDARD = SSTL18_II_DCI; #SSTL18_II
NET  "DDR2_A[*]"                                IOSTANDARD = SSTL18_II;
NET  "DDR2_BA[*]"                               IOSTANDARD = SSTL18_II;
NET  "DDR2_RAS_B"                               IOSTANDARD = SSTL18_II;
NET  "DDR2_CAS_B"                               IOSTANDARD = SSTL18_II;
NET  "DDR2_WE_B"                                IOSTANDARD = SSTL18_II;
NET  "DDR2_CS0_B"                               IOSTANDARD = SSTL18_II;
NET  "DDR2_ODT0"                                IOSTANDARD = SSTL18_II;
NET  "DDR2_CKE0"                                IOSTANDARD = SSTL18_II;
NET  "DDR2_DM[*]"                               IOSTANDARD = SSTL18_II;
NET  "DDR2_DQS_P[*]"                            IOSTANDARD = DIFF_SSTL18_II_DCI; #DIFF_SSTL18_II
NET  "DDR2_DQS_N[*]"                            IOSTANDARD = DIFF_SSTL18_II_DCI; #DIFF_SSTL18_II
NET  "DDR2_CLK_P[*]"                            IOSTANDARD = DIFF_SSTL18_II;
NET  "DDR2_CLK_N[*]"                            IOSTANDARD = DIFF_SSTL18_II;

################################################################################
# Location Constraints
################################################################################

NET  "DDR2_A[0]"              LOC = "L30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[1]"              LOC = "M30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[2]"              LOC = "N29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[3]"              LOC = "P29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[4]"              LOC = "K31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[5]"              LOC = "L31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[6]"              LOC = "P31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[7]"              LOC = "P30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[8]"              LOC = "M31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[9]"              LOC = "R28" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[10]"             LOC = "J31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[11]"             LOC = "R29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_A[12]"             LOC = "T31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_BA[0]"             LOC = "G31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_BA[1]"             LOC = "J30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET "DDR2_BA[2]"             LOC = "R31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CAS_B"             LOC = "E31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CKE0"              LOC = "T28" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET "DDR2_CKE1"              LOC = "U30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CLK_N[0]"          LOC = "AJ29" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CLK_P[0]"          LOC = "AK29" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CLK_N[1]"          LOC = "F28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CLK_P[1]"          LOC = "E28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_CS0_B"             LOC = "L29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET "DDR2_CS1_B"             LOC = "J29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[0]"              LOC = "AF30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[1]"              LOC = "AK31" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[2]"              LOC = "AF31" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[3]"              LOC = "AD30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[4]"              LOC = "AJ30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[5]"              LOC = "AF29" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[6]"              LOC = "AD29" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[7]"              LOC = "AE29" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[8]"              LOC = "AH27" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[9]"              LOC = "AF28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[10]"             LOC = "AH28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[11]"             LOC = "AA28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[12]"             LOC = "AG25" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[13]"             LOC = "AJ26" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[14]"             LOC = "AG28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[15]"             LOC = "AB28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[16]"             LOC = "AC28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[17]"             LOC = "AB25" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[18]"             LOC = "AC27" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[19]"             LOC = "AA26" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[20]"             LOC = "AB26" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[21]"             LOC = "AA24" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[22]"             LOC = "AB27" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[23]"             LOC = "AA25" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[24]"             LOC = "AC29" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[25]"             LOC = "AB30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[26]"             LOC = "W31" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[27]"             LOC = "V30" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[28]"             LOC = "AC30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[29]"             LOC = "W29" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[30]"             LOC = "V27" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[31]"             LOC = "W27" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[32]"             LOC = "V29" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[33]"             LOC = "Y27" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[34]"             LOC = "Y26" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[35]"             LOC = "W24" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[36]"             LOC = "V28" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[37]"             LOC = "W25" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[38]"             LOC = "W26" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[39]"             LOC = "V24" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[40]"             LOC = "R24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[41]"             LOC = "P25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[42]"             LOC = "N24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[43]"             LOC = "P26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[44]"             LOC = "T24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[45]"             LOC = "N25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[46]"             LOC = "P27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[47]"             LOC = "N28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[48]"             LOC = "M28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[49]"             LOC = "L28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[50]"             LOC = "F25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[51]"             LOC = "H25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[52]"             LOC = "K27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[53]"             LOC = "K28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[54]"             LOC = "H24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[55]"             LOC = "G26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[56]"             LOC = "G25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[57]"             LOC = "M26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[58]"             LOC = "J24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[59]"             LOC = "L26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[60]"             LOC = "J27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[61]"             LOC = "M25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[62]"             LOC = "L25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_D[63]"             LOC = "L24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[0]"             LOC = "AJ31" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[1]"             LOC = "AE28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[2]"             LOC = "Y24" ;   # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[3]"             LOC = "Y31" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[4]"             LOC = "V25" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[5]"             LOC = "P24" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[6]"             LOC = "F26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DM[7]"             LOC = "J25" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[0]"          LOC = "AA30" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[0]"          LOC = "AA29" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[1]"          LOC = "AK27" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[1]"          LOC = "AK28" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[2]"          LOC = "AJ27" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[2]"          LOC = "AK26" ;  # Bank 21, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[3]"          LOC = "AA31" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[3]"          LOC = "AB31" ;  # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[4]"          LOC = "Y29" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[4]"          LOC = "Y28" ;   # Bank 17, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[5]"          LOC = "E27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[5]"          LOC = "E26" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[6]"          LOC = "G28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[6]"          LOC = "H28" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_N[7]"          LOC = "H27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_DQS_P[7]"          LOC = "G27" ;   # Bank 19, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_ODT0"              LOC = "F31" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET "DDR2_ODT1"              LOC = "F30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_RAS_B"             LOC = "H30" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
NET  "DDR2_WE_B"              LOC = "K29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm

#NET  "DDR2_SCL"              LOC = "E29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET  "DDR2_SDA"              LOC = "F29" ;   # Bank 15, Vcco=1.8V, DCI 49.9ohm
#NET "DDR2_SCL" TIG;
#NET "DDR2_SDA" TIG;


###############################################################################
# Define multicycle paths - these paths may take longer because additional
# time allowed for logic to settle in calibration/initialization FSM
###############################################################################

# MIG 2.1: Eliminate Timegroup definitions for CLK0, and CLK90. Instead trace
#          multicycle paths from originating flip-flop to ANY destination
#          flip-flop (or in some cases, it can also be a BRAM)

# MUX Select for either rising/falling CLK0 for 2nd stage read capture
INST "*/u_phy_calib/gen_rd_data_sel*.u_ff_rd_data_sel" TNM = "TNM_RD_DATA_SEL";
TIMESPEC "TS_MC_RD_DATA_SEL" = FROM "TNM_RD_DATA_SEL" TO FFS "TS_100MHZ" * 2;

# MUX select for read data - optional delay on data to account for byte skews
INST "*/u_usr_rd/gen_rden_sel_mux*.u_ff_rden_sel_mux" TNM = "TNM_RDEN_SEL_MUX";
TIMESPEC "TS_MC_RDEN_SEL_MUX" = FROM "TNM_RDEN_SEL_MUX" TO FFS "TS_100MHZ" * 2;

# Calibration/Initialization complete status flag (for PHY logic only) - can
# be used to drive both flip-flops and BRAMs
INST "*/u_phy_init/u_ff_phy_init_data_sel" TNM = "TNM_PHY_INIT_DATA_SEL";
TIMESPEC "TS_MC_PHY_INIT_DATA_SEL_0" = FROM "TNM_PHY_INIT_DATA_SEL" TO FFS "TS_100MHZ" * 2;

# The RAM path is only used in cases where Write Latency (Additive Latency + 
# (CAS Latency - 1) + (1 in case of RDIMM)) is 2 or below. So these constraints are 
# valid for CAS Latency = 3, Additive Latency = 0 and selected part is not RDIMM. 
# If Write Latency is higher than 3, then a warning will appear in PAR, 
# and the constraint can be ignored as this path does not exist. RAM constraint 
# can be safely removed if the warning is not to be displayed.
TIMESPEC "TS_MC_PHY_INIT_DATA_SEL_90" = FROM "TNM_PHY_INIT_DATA_SEL" TO RAMS "TS_100MHZ" * 2;

# Select (address) bits for SRL32 shift registers used in stage3/stage4
# calibration
INST "*/u_phy_calib/gen_gate_dly*.u_ff_gate_dly" TNM = "TNM_GATE_DLY";
TIMESPEC "TS_MC_GATE_DLY" = FROM "TNM_GATE_DLY" TO FFS "TS_100MHZ" * 2;

INST "*/u_phy_calib/gen_rden_dly*.u_ff_rden_dly" TNM = "TNM_RDEN_DLY";
TIMESPEC "TS_MC_RDEN_DLY" = FROM "TNM_RDEN_DLY" TO FFS "TS_100MHZ" * 2;

INST "*/u_phy_calib/gen_cal_rden_dly*.u_ff_cal_rden_dly" TNM = "TNM_CAL_RDEN_DLY";
TIMESPEC "TS_MC_CAL_RDEN_DLY" = FROM "TNM_CAL_RDEN_DLY" TO FFS "TS_100MHZ" * 2;


############################################################################### 
#The following constraint is added to prevent (false) hold time violations on
#the data path from stage1 to stage2 capture flops.  Stage1 flops are clocked by 
#the delayed DQS and stage2 flops are clocked by the clk0 clock. Placing a TIG 
#on the DQ IDDR capture flop instance to achieve this is acceptable because timing
#is guaranteed through the use of separate Predictable IP constraints. These
#violations are reported when anunconstrained path report is run.	  
############################################################################### 
INST "*/gen_dq[*].u_iob_dq/gen*.u_iddr_dq" TIG ;


###############################################################################
# DQS Read Postamble Glitch Squelch circuit related constraints
###############################################################################

###############################################################################
# LOC placement of DQS-squelch related IDDR and IDELAY elements
# Each circuit can be located at any of the following locations:
#  1. Ununsed "N"-side of DQS diff pair I/O
#  2. DM data mask (output only, input side is free for use)
#  3. Any output-only site
###############################################################################

###############################################################################
#The following constraint is added to avoid the HOLD violations in the trace report
#when run for unconstrained paths.These two FF groups will be clocked by two different
# clocks and hence there should be no timing analysis performed on this path.
###############################################################################
INST "*/u_mem_if_top/u_phy_top/u_phy_io/u_phy_calib/gen_gate[*].u_en_dqs_ff" TNM = EN_DQS_FF;
TIMESPEC TS_FROM_EN_DQS_FF_TO_DQ_CE_FF = FROM EN_DQS_FF TO TNM_DQ_CE_IDDR 3.85 ns DATAPATHONLY;


INST "*/gen_dqs[0].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y96";
INST "*/gen_dqs[0].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y96";
INST "*/gen_dqs[1].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y58";
INST "*/gen_dqs[1].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y58";
INST "*/gen_dqs[2].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y62";
INST "*/gen_dqs[2].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y62";
INST "*/gen_dqs[3].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y100";
INST "*/gen_dqs[3].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y100";
INST "*/gen_dqs[4].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y102";
INST "*/gen_dqs[4].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y102";
INST "*/gen_dqs[5].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y256";
INST "*/gen_dqs[5].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y256";
INST "*/gen_dqs[6].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y260";
INST "*/gen_dqs[6].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y260";
INST "*/gen_dqs[7].u_iob_dqs/u_iddr_dq_ce"  LOC = "ILOGIC_X0Y262";
INST "*/gen_dqs[7].u_iob_dqs/u_iodelay_dq_ce"  LOC = "IODELAY_X0Y262";

###############################################################################
# LOC and timing constraints for flop driving DQS CE enable signal
# from fabric logic. Even though the absolute delay on this path is
# calibrated out (when synchronizing this output to DQS), the delay
# should still be kept as low as possible to reduce post-calibration
# voltage/temp variations - these are roughly proportional to the
# absolute delay of the path
###############################################################################

INST "*/u_phy_calib/gen_gate[0].u_en_dqs_ff"  LOC = SLICE_X0Y48;
INST "*/u_phy_calib/gen_gate[1].u_en_dqs_ff"  LOC = SLICE_X0Y29;
INST "*/u_phy_calib/gen_gate[2].u_en_dqs_ff"  LOC = SLICE_X0Y31;
INST "*/u_phy_calib/gen_gate[3].u_en_dqs_ff"  LOC = SLICE_X0Y50;
INST "*/u_phy_calib/gen_gate[4].u_en_dqs_ff"  LOC = SLICE_X0Y51;
INST "*/u_phy_calib/gen_gate[5].u_en_dqs_ff"  LOC = SLICE_X0Y128;
INST "*/u_phy_calib/gen_gate[6].u_en_dqs_ff"  LOC = SLICE_X0Y130;
INST "*/u_phy_calib/gen_gate[7].u_en_dqs_ff"  LOC = SLICE_X0Y131;

# Control for DQS gate - from fabric flop. Prevent "runaway" delay -
# two parts to this path: (1) from fabric flop to IDELAY, (2) from
# IDELAY to asynchronous reset of IDDR that drives the DQ CE's
# A single number is used for all speed grades - value based on 333MHz.
# This can be relaxed for lower frequencies.
# 300MHz = 850ps, 267MHz = 900ps. At 200MHz = 950ps.
# In general PAR should be able to route this
# within 900ps over all speed grades.
NET "*/u_phy_io/en_dqs*" MAXDELAY = 600 ps;
NET "*/u_phy_io/gen_dqs*.u_iob_dqs/en_dqs_sync" MAXDELAY = 850 ps;
#NET "*/u_phy_io/gen_dqs*.u_iob_dqs/en_dqs_sync" MAXDELAY = 900 ps;

###############################################################################
# "Half-cycle" path constraint from IDDR to CE pin for all DQ IDDR's
# for DQS Read Postamble Glitch Squelch circuit
###############################################################################

# Max delay from output of IDDR to CE input of DQ IDDRs = tRPST + some slack
#  where slack account for rise-time of DQS on board. For now assume slack = 
#  0.400ns (based on initial SPICE simulations, assumes use of ODT), so 
#  time = 0.4*Tcyc + 0.40ns = 1.6ns @333MHz
INST "*/gen_dqs[*].u_iob_dqs/u_iddr_dq_ce" TNM = "TNM_DQ_CE_IDDR";
INST "*/gen_dq[*].u_iob_dq/gen_stg2_*.u_iddr_dq" TNM = "TNM_DQS_FLOPS";
TIMESPEC "TS_DQ_CE" = FROM "TNM_DQ_CE_IDDR" TO "TNM_DQS_FLOPS" 1.9 ns;
#TIMESPEC "TS_DQ_CE" = FROM "TNM_DQ_CE_IDDR" TO "TNM_DQS_FLOPS" 2.4 ns;
################################################################################
