AREA_GROUP "pb_br_bios" RANGE=RAMB36_X1Y11:RAMB36_X1Y11, RAMB36_X1Y7:RAMB36_X1Y7, RAMB36_X0Y10:RAMB36_X0Y10, RAMB36_X0Y8:RAMB36_X0Y8;
AREA_GROUP "pb_br_dmem" RANGE=RAMB36_X1Y3:RAMB36_X1Y6;
AREA_GROUP "pb_br_imem" RANGE=RAMB36_X0Y4:RAMB36_X0Y7;
AREA_GROUP "pb_br_isr" RANGE=RAMB36_X1Y15:RAMB36_X1Y15, RAMB36_X0Y14:RAMB36_X0Y14, RAMB36_X0Y11:RAMB36_X0Y12;
AREA_GROUP "pb_cached" RANGE=RAMB36_X1Y12:RAMB36_X1Y14, RAMB36_X0Y15:RAMB36_X0Y15, RAMB36_X0Y13:RAMB36_X0Y13;
AREA_GROUP "pb_cached" RANGE=SLICE_X18Y85:SLICE_X23Y87, SLICE_X8Y77:SLICE_X27Y79, SLICE_X10Y73:SLICE_X25Y76, SLICE_X10Y70:SLICE_X29Y72, SLICE_X8Y65:SLICE_X31Y69, SLICE_X26Y60:SLICE_X31Y64;
AREA_GROUP "pb_cachei" RANGE=RAMB36_X1Y14:RAMB36_X1Y14, RAMB36_X1Y8:RAMB36_X1Y10, RAMB36_X0Y9:RAMB36_X0Y9;
AREA_GROUP "pb_cachei" RANGE=SLICE_X34Y50:SLICE_X41Y59, SLICE_X26Y73:SLICE_X29Y76, SLICE_X26Y40:SLICE_X29Y54, SLICE_X24Y45:SLICE_X25Y49, SLICE_X16Y45:SLICE_X23Y59, SLICE_X16Y80:SLICE_X17Y87, SLICE_X12Y45:SLICE_X15Y49, SLICE_X8Y45:SLICE_X11Y54;
AREA_GROUP "pb_cpu" RANGE=DSP48_X0Y20:DSP48_X0Y27;
AREA_GROUP "pb_cpu" RANGE=RAMB36_X0Y3:RAMB36_X1Y15;
AREA_GROUP "pb_cpu" RANGE=SLICE_X30Y50:SLICE_X45Y69, SLICE_X24Y40:SLICE_X29Y79, SLICE_X16Y40:SLICE_X23Y87, SLICE_X8Y40:SLICE_X15Y79;
AREA_GROUP "pb_ddr2" RANGE=RAMB36_X0Y20:RAMB36_X0Y21, RAMB36_X0Y16:RAMB36_X0Y16;
AREA_GROUP "pb_ddr2" RANGE=SLICE_X10Y85:SLICE_X15Y109, SLICE_X8Y100:SLICE_X9Y109, SLICE_X8Y80:SLICE_X9Y84, SLICE_X0Y25:SLICE_X7Y139;
AREA_GROUP "pb_el" RANGE=DSP48_X0Y32:DSP48_X0Y37;
AREA_GROUP "pb_el" RANGE=SLICE_X34Y82:SLICE_X37Y89, SLICE_X32Y82:SLICE_X33Y94, SLICE_X30Y80:SLICE_X31Y94;
AREA_GROUP "pb_ff" RANGE=SLICE_X40Y95:SLICE_X45Y99;
AREA_GROUP "pb_fo_caf" RANGE=RAMB36_X1Y20:RAMB36_X1Y20;
AREA_GROUP "pb_fo_caf" RANGE=SLICE_X26Y100:SLICE_X27Y104, SLICE_X24Y90:SLICE_X25Y99;
AREA_GROUP "pb_fo_rdf" RANGE=RAMB36_X1Y16:RAMB36_X1Y19;
AREA_GROUP "pb_fo_rdf" RANGE=SLICE_X26Y85:SLICE_X29Y94;
AREA_GROUP "pb_fo_wdf" RANGE=RAMB36_X1Y21:RAMB36_X1Y21, RAMB36_X0Y17:RAMB36_X0Y19;
AREA_GROUP "pb_fo_wdf" RANGE=SLICE_X8Y85:SLICE_X9Y99;
AREA_GROUP "pb_gp" RANGE=SLICE_X20Y100:SLICE_X25Y109, SLICE_X16Y97:SLICE_X23Y99, SLICE_X38Y82:SLICE_X45Y94, SLICE_X24Y80:SLICE_X27Y82, SLICE_X32Y80:SLICE_X45Y81;
AREA_GROUP "pb_gpu" RANGE=DSP48_X0Y32:DSP48_X0Y43;
AREA_GROUP "pb_gpu" RANGE=SLICE_X30Y80:SLICE_X45Y109, SLICE_X20Y100:SLICE_X25Y109, SLICE_X16Y90:SLICE_X23Y99, SLICE_X24Y80:SLICE_X27Y82;
AREA_GROUP "pb_le" RANGE=DSP48_X0Y40:DSP48_X0Y43;
AREA_GROUP "pb_le" RANGE=SLICE_X30Y100:SLICE_X45Y109;
AREA_GROUP "pb_memmap" RANGE=SLICE_X34Y60:SLICE_X45Y69, SLICE_X24Y60:SLICE_X25Y64, SLICE_X18Y80:SLICE_X23Y84;
AREA_GROUP "pb_pf" RANGE=RAMB36_X2Y14:RAMB36_X2Y15, RAMB36_X0Y22:RAMB36_X1Y25;
AREA_GROUP "pb_pf" RANGE=SLICE_X8Y110:SLICE_X29Y119, SLICE_X46Y95:SLICE_X47Y109, SLICE_X16Y100:SLICE_X19Y109, SLICE_X16Y88:SLICE_X23Y89, SLICE_X38Y70:SLICE_X71Y79;
AREA_GROUP "pb_rcon" RANGE=RAMB36_X1Y16:RAMB36_X1Y21, RAMB36_X0Y17:RAMB36_X0Y19;
AREA_GROUP "pb_rcon" RANGE=SLICE_X26Y100:SLICE_X27Y104, SLICE_X24Y83:SLICE_X29Y99, SLICE_X8Y85:SLICE_X9Y99, SLICE_X28Y80:SLICE_X29Y82;
AREA_GROUP "pb_regfile" RANGE=SLICE_X10Y60:SLICE_X23Y64, SLICE_X28Y55:SLICE_X33Y59, SLICE_X24Y50:SLICE_X25Y59, SLICE_X12Y50:SLICE_X15Y59;
AREA_GROUP "pb_slr" RANGE=DSP48_X0Y38:DSP48_X0Y39;
AREA_GROUP "pb_slr" RANGE=SLICE_X30Y95:SLICE_X39Y99, SLICE_X16Y90:SLICE_X23Y96, SLICE_X34Y90:SLICE_X37Y94;
AREA_GROUP "pb_sram" RANGE=RAMB36_X2Y20:RAMB36_X3Y23;
AREA_GROUP "pb_sram" RANGE=SLICE_X66Y100:SLICE_X95Y119;
