AREA_GROUP "pblock_bram_dmem" RANGE=RAMB36_X4Y25:RAMB36_X4Y27, RAMB36_X3Y27:RAMB36_X3Y27, RAMB36_X3Y20:RAMB36_X3Y20;
AREA_GROUP "pblock_bram_dmem" RANGE=SLICE_X100Y125:SLICE_X107Y139, SLICE_X90Y135:SLICE_X93Y139, SLICE_X90Y100:SLICE_X93Y104;
AREA_GROUP "pblock_bram_imem" RANGE=RAMB36_X4Y22:RAMB36_X4Y24, RAMB36_X3Y18:RAMB36_X3Y19;
AREA_GROUP "pblock_bram_imem" RANGE=SLICE_X100Y110:SLICE_X107Y124, SLICE_X90Y90:SLICE_X93Y99;
AREA_GROUP "pblock_bram_isr" RANGE=RAMB36_X3Y23:RAMB36_X3Y25, RAMB36_X3Y21:RAMB36_X3Y21;
AREA_GROUP "pblock_bram_isr" RANGE=SLICE_X90Y115:SLICE_X93Y129, SLICE_X90Y105:SLICE_X93Y109;
AREA_GROUP "pblock_brom_bios" RANGE=RAMB36_X3Y26:RAMB36_X3Y26, RAMB36_X3Y22:RAMB36_X3Y22, RAMB36_X2Y26:RAMB36_X2Y27;
AREA_GROUP "pblock_brom_bios" RANGE=SLICE_X90Y130:SLICE_X93Y134, SLICE_X90Y110:SLICE_X93Y114, SLICE_X70Y130:SLICE_X73Y139;
AREA_GROUP "pblock_cache_d" RANGE=RAMB36_X2Y21:RAMB36_X2Y25;
AREA_GROUP "pblock_cache_d" RANGE=SLICE_X48Y105:SLICE_X79Y129;
AREA_GROUP "pblock_cache_i" RANGE=RAMB36_X2Y16:RAMB36_X2Y20;
AREA_GROUP "pblock_cache_i" RANGE=SLICE_X48Y80:SLICE_X79Y104;
AREA_GROUP "pblock_cpu" RANGE=CLOCKREGION_X1Y4:CLOCKREGION_X1Y6;
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=RAMB36_X1Y20:RAMB36_X1Y21;
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=SLICE_X18Y100:SLICE_X29Y109;
AREA_GROUP "pblock_ddr2" RANGE=RAMB36_X0Y16:RAMB36_X1Y21;
AREA_GROUP "pblock_ddr2" RANGE=SLICE_X8Y80:SLICE_X29Y109, SLICE_X0Y25:SLICE_X7Y139;
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=RAMB36_X1Y16:RAMB36_X1Y19;
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=SLICE_X18Y80:SLICE_X29Y99;
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=RAMB36_X0Y17:RAMB36_X0Y20;
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=SLICE_X8Y90:SLICE_X17Y99;
AREA_GROUP "pblock_gpu" RANGE=DSP48_X0Y44:DSP48_X0Y51;
AREA_GROUP "pblock_gpu" RANGE=RAMB36_X1Y22:RAMB36_X1Y25;
AREA_GROUP "pblock_gpu" RANGE=SLICE_X26Y110:SLICE_X45Y129;
AREA_GROUP "pblock_memmap_io" RANGE=SLICE_X48Y130:SLICE_X69Y139;
AREA_GROUP "pblock_pixelfeed" RANGE=RAMB36_X1Y26:RAMB36_X1Y27, RAMB36_X0Y22:RAMB36_X0Y27;
AREA_GROUP "pblock_pixelfeed" RANGE=SLICE_X26Y130:SLICE_X45Y139, SLICE_X8Y110:SLICE_X25Y139;
AREA_GROUP "pblock_req_con" RANGE=SLICE_X38Y90:SLICE_X45Y109;
AREA_GROUP "pblock_sram" RANGE=RAMB36_X3Y28:RAMB36_X4Y31;
AREA_GROUP "pblock_sram" RANGE=SLICE_X74Y140:SLICE_X107Y159;
