AREA_GROUP "pblock_bram_dmem" RANGE=RAMB36_X1Y3:RAMB36_X1Y6;
AREA_GROUP "pblock_bram_imem" RANGE=RAMB36_X0Y4:RAMB36_X0Y7;
AREA_GROUP "pblock_bram_isr" RANGE=RAMB36_X1Y15:RAMB36_X1Y15, RAMB36_X0Y14:RAMB36_X0Y14, RAMB36_X0Y11:RAMB36_X0Y12;
AREA_GROUP "pblock_bram_isr" RANGE=SLICE_X26Y75:SLICE_X29Y79, SLICE_X8Y70:SLICE_X9Y74, SLICE_X8Y60:SLICE_X9Y64;
AREA_GROUP "pblock_brom_bios" RANGE=RAMB36_X1Y11:RAMB36_X1Y11, RAMB36_X1Y7:RAMB36_X1Y7, RAMB36_X0Y10:RAMB36_X0Y10, RAMB36_X0Y8:RAMB36_X0Y8;
AREA_GROUP "pblock_brom_bios" RANGE=SLICE_X26Y55:SLICE_X29Y59, SLICE_X8Y50:SLICE_X9Y54, SLICE_X8Y40:SLICE_X9Y44;
AREA_GROUP "pblock_cache_d" RANGE=RAMB36_X1Y12:RAMB36_X1Y14, RAMB36_X0Y15:RAMB36_X0Y15, RAMB36_X0Y13:RAMB36_X0Y13;
AREA_GROUP "pblock_cache_d" RANGE=SLICE_X8Y75:SLICE_X25Y79, SLICE_X10Y70:SLICE_X29Y74, SLICE_X22Y60:SLICE_X29Y69, SLICE_X8Y65:SLICE_X13Y69;
AREA_GROUP "pblock_cache_i" RANGE=RAMB36_X1Y14:RAMB36_X1Y14, RAMB36_X1Y8:RAMB36_X1Y10, RAMB36_X0Y9:RAMB36_X0Y9;
AREA_GROUP "pblock_cache_i" RANGE=SLICE_X26Y45:SLICE_X29Y54, SLICE_X10Y45:SLICE_X25Y59, SLICE_X8Y45:SLICE_X9Y49;
AREA_GROUP "pblock_cpu" RANGE=DSP48_X0Y24:DSP48_X0Y27;
AREA_GROUP "pblock_cpu" RANGE=RAMB36_X0Y2:RAMB36_X1Y15;
AREA_GROUP "pblock_cpu" RANGE=SLICE_X30Y60:SLICE_X45Y69, SLICE_X26Y40:SLICE_X29Y79, SLICE_X14Y40:SLICE_X25Y89, SLICE_X8Y40:SLICE_X13Y79;
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=RAMB36_X1Y20:RAMB36_X1Y20;
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=SLICE_X26Y100:SLICE_X29Y104, SLICE_X18Y95:SLICE_X25Y99;
AREA_GROUP "pblock_ddr2" RANGE=RAMB36_X0Y20:RAMB36_X0Y21, RAMB36_X0Y16:RAMB36_X0Y16;
AREA_GROUP "pblock_ddr2" RANGE=SLICE_X8Y100:SLICE_X13Y109, SLICE_X8Y80:SLICE_X13Y89, SLICE_X0Y25:SLICE_X7Y139;
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=RAMB36_X1Y16:RAMB36_X1Y19;
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=SLICE_X26Y80:SLICE_X29Y99, SLICE_X18Y90:SLICE_X25Y94;
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=RAMB36_X1Y21:RAMB36_X1Y21, RAMB36_X0Y17:RAMB36_X0Y19;
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=SLICE_X26Y105:SLICE_X29Y109, SLICE_X8Y90:SLICE_X17Y99;
AREA_GROUP "pblock_gpu" RANGE=DSP48_X0Y36:DSP48_X0Y43;
AREA_GROUP "pblock_gpu" RANGE=RAMB36_X1Y24:RAMB36_X1Y27;
AREA_GROUP "pblock_gpu" RANGE=SLICE_X30Y90:SLICE_X45Y109;
AREA_GROUP "pblock_memmap_io" RANGE=SLICE_X14Y80:SLICE_X25Y89;
AREA_GROUP "pblock_pixelfeed" RANGE=RAMB36_X1Y22:RAMB36_X1Y23, RAMB36_X0Y22:RAMB36_X0Y27;
AREA_GROUP "pblock_pixelfeed" RANGE=SLICE_X8Y110:SLICE_X29Y119, SLICE_X14Y100:SLICE_X25Y109;
AREA_GROUP "pblock_req_con" RANGE=RAMB36_X1Y16:RAMB36_X1Y21, RAMB36_X0Y17:RAMB36_X0Y19;
AREA_GROUP "pblock_req_con" RANGE=SLICE_X26Y80:SLICE_X29Y109, SLICE_X8Y90:SLICE_X25Y99;
AREA_GROUP "pblock_sram" RANGE=CLOCKREGION_X1Y6:CLOCKREGION_X1Y7;
