INST "CPU"                        AREA_GROUP = "pblock_cpu";
#INST "CPU/PIPR*"                  AREA_GROUP = "pblock_cpu_pipe";
#INST "CPU/regfile"                AREA_GROUP = "pblock_regfile";

##INST "mem_bank/"                  AREA_GROUP = "pblock_membank";
#INST "mem_bank/bram_dmem"         AREA_GROUP = "pblock_bram_dmem";
#INST "mem_bank/bram_imem"         AREA_GROUP = "pblock_bram_imem";
#INST "mem_bank/brom_bios"         AREA_GROUP = "pblock_brom_bios";
#INST "mem_bank/bram_isr"          AREA_GROUP = "pblock_bram_isr";
#INST "mem_bank/memmap_io"         AREA_GROUP = "pblock_memmap_io";
#INST "mem_bank/uartrva"           AREA_GROUP = "pblock_memmap_io";
INST "mem_bank"                   AREA_GROUP = "pblock_cpu";

INST "mem_arch/dcache"            AREA_GROUP = "pblock_cpu";//"pblock_cache_d";
INST "mem_arch/icache"            AREA_GROUP = "pblock_cpu";//"pblock_cache_i";

INST "mem_arch/ddr2"              AREA_GROUP = "pblock_ddr2";
INST "mem_arch/req_con"           AREA_GROUP = "pblock_cpu";//"pblock_req_con";
INST "mem_arch/ddr2_write_fifo"   AREA_GROUP = "pblock_ddr2_write_fifo";
INST "mem_arch/ddr2_read_fifo"    AREA_GROUP = "pblock_ddr2_read_fifo";
INST "mem_arch/ddr2_addr_fifo"    AREA_GROUP = "pblock_ddr2_addr_fifo";

INST "mem_arch/*scanlinerunner*"  AREA_GROUP = "pblock_gpu";
INST "mem_arch/graphicsprocessor" AREA_GROUP = "pblock_gpu";
INST "mem_arch/framefill"         AREA_GROUP = "pblock_gpu";
INST "mem_arch/le"                AREA_GROUP = "pblock_gpu";
INST "mem_arch/_varindex*"        AREA_GROUP = "pblock_gpu";
INST "mem_arch/next_SLR*"         AREA_GROUP = "pblock_gpu";
INST "mem_arch/live_SLR*"         AREA_GROUP = "pblock_gpu";

INST "mem_arch/pixelfeed"         AREA_GROUP = "pblock_pixelfeed";
INST "dvi"                        AREA_GROUP = "pblock_pixelfeed";

INST "sram"                       AREA_GROUP = "pblock_sram";

#INST "*togglestall_debone"        AREA_GROUP = "pblock_req_con";
