INST "mem_arch/dcache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X1Y12;
INST "mem_arch/dcache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X0Y15;
INST "mem_arch/dcache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X1Y13;
INST "mem_arch/dcache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X0Y13;
INST "mem_arch/dcache/cache_tag/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM18.TDP" BEL = UPPER;
INST "mem_arch/dcache/cache_tag/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM18.TDP" LOC = RAMB36_X1Y14;
INST "mem_arch/ddr2_addr_fifo/BU2/U0/gbiv5.bi/v5_fifo.fblk/gextw[1].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y20;
INST "mem_arch/ddr2_read_fifo/U0/xst_fifo_generator/gconvfifo.rf/gbiv5.bi/v5_fifo.fblk/gextw[1].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y16;
INST "mem_arch/ddr2_read_fifo/U0/xst_fifo_generator/gconvfifo.rf/gbiv5.bi/v5_fifo.fblk/gextw[2].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y18;
INST "mem_arch/ddr2_read_fifo/U0/xst_fifo_generator/gconvfifo.rf/gbiv5.bi/v5_fifo.fblk/gextw[3].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y17;
INST "mem_arch/ddr2_read_fifo/U0/xst_fifo_generator/gconvfifo.rf/gbiv5.bi/v5_fifo.fblk/gextw[4].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y19;
INST "mem_arch/ddr2/u_ddr2_top_0/u_mem_if_top/u_usr_top/u_usr_addr_fifo/u_af" LOC = RAMB36_X0Y20;
INST "mem_arch/ddr2/u_ddr2_top_0/u_mem_if_top/u_usr_top/u_usr_wr/.gen_wdf[0].u_wdf" LOC = RAMB36_X0Y16;
INST "mem_arch/ddr2/u_ddr2_top_0/u_mem_if_top/u_usr_top/u_usr_wr/.gen_wdf[1].u_wdf" LOC = RAMB36_X0Y21;
INST "mem_arch/ddr2_write_fifo/BU2/U0/gbiv5.bi/v5_fifo.fblk/gextw[1].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X0Y17;
INST "mem_arch/ddr2_write_fifo/BU2/U0/gbiv5.bi/v5_fifo.fblk/gextw[2].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X1Y21;
INST "mem_arch/ddr2_write_fifo/BU2/U0/gbiv5.bi/v5_fifo.fblk/gextw[3].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X0Y18;
INST "mem_arch/ddr2_write_fifo/BU2/U0/gbiv5.bi/v5_fifo.fblk/gextw[4].inst_extd/gonep.inst_prim/gfn72.sngfifo36" LOC = RAMB36_X0Y19;
INST "mem_arch/icache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X1Y10;
INST "mem_arch/icache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X1Y9;
INST "mem_arch/icache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X0Y9;
INST "mem_arch/icache/cache_data/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SDP.WIDE_PRIM36.noeccerr.SDP" LOC = RAMB36_X1Y8;
INST "mem_arch/icache/cache_tag/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM18.TDP" BEL = LOWER;
INST "mem_arch/icache/cache_tag/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.WIDE_PRIM18.TDP" LOC = RAMB36_X1Y14;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM18.SDP" LOC = RAMB36_X1Y22;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y22;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y23;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y25;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y24;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y23;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y24;
INST "mem_arch/pixelfeed/feeder_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y25;
INST "mem_bank/bram_isr/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_init.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y11;
INST "mem_bank/bram_isr/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_init.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y15;
INST "mem_bank/bram_isr/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_init.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y12;
INST "mem_bank/bram_isr/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_init.ram/SDP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y14;
INST "mem_bank/brom_bios/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/v5_init.ram/TRUE_DP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y7;
INST "mem_bank/brom_bios/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/v5_init.ram/TRUE_DP.SINGLE_PRIM36.TDP" LOC = RAMB36_X1Y11;
INST "mem_bank/brom_bios/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/v5_init.ram/TRUE_DP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y8;
INST "mem_bank/brom_bios/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/v5_init.ram/TRUE_DP.SINGLE_PRIM36.TDP" LOC = RAMB36_X0Y10;
