.nfs*
/docs/
/hardware/cfg/mem_bd.bmm
/hardware/src/[di]mem_blk_ram/
/hardware/sim/results/
/hardware/sim/modelsim_libs/
/hardware/[mq].err
/hardware/[mq].out
/hardware/[mq].pid
/software/*/*.v
/plan/tmp/
/plan/CPU.sim/
/plan/CPU.data/wt/
build/
*.dump
*.list
*~
*.xxx
*.tar
*.tgz
*.gz
*.bz
*.bz2
*.tbz
*.coe
*.mif
*.bin
*.o
*.veo
*.xise
*.ngc
*.asy
*.cgc
*.cgp
*.log
*.pdf
*.gise
*.tcl
*.swp
*flist.txti
*gen_readme.txt
*.elf
.cyg*
