*.log
*.bit
*.srp
platgen.opt
plop.make
plop_incl.make
_impact.cmd
microblaze_0/
Debug/
.metadata/
.settings/
__xps/
/data/
/etc/
/implementation/
/synthesis/
/xst/
/hdl/
/simulation/behavioral
XpsGuiSessionLock
/SDK/
