#  XUPV5-LX110T Evaluation Platform

#Typical clock from master_xupv5-lx110t.ucf:
##NET  USER_CLK         LOC = "AH15" ;  # Bank 4, Vcco=3.3V, No DCI
##Net  USER_CLK           IOSTANDARD = LVCMOS33;
##Net  USER_CLK           TNM_NET = TMN_USER_CLK;
##TIMESPEC  TS_USER_CLK = PERIOD  TMN_USER_CLK 100000 kHz;

#For DDR2 MIG differential clock (on board, controlled by under-side DIP-SW)
#  Master-Pins: SMA_DIFF_CLK_IN_[N|P] & CLK_FPGA_[N|P]
NET  "sys_clk_n"        LOC = "H15" ;
NET  "sys_clk_n"        IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET  "sys_clk_p"        LOC = "H14" ;
NET  "sys_clk_p"        IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET  "clk200_n"         LOC = "K19" ;
NET  "clk200_n"         IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET  "clk200_p"         LOC = "L19" ;
NET  "clk200_p"         IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

###  FPGA_CPU_RESET_B   # E9 , Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
## "sys_rst_n"        LOC = "AE32" ; #REAL->"E9"; FAKE->"AE32" for MIG#
NET  "sys_rst_n"        LOC = "E9" ; #REAL->"E9"; FAKE->"AE32" for MIG#
Net  "sys_rst_n"        TIG;
NET  "sys_rst_n"        IOSTANDARD = LVCMOS33 | PULLUP;
#
###  GPIO_LED_0         # H18, Bank 3, Vcco=2.5V, No DCI
## "phy_init_done"    LOC = "AG32" ; #REAL->"H18"; FAKE->"AG32" for MIG#
NET  "phy_init_done"    LOC = "H18" ;#REAL->"H18"; FAKE->"AG32" for MIG#
NET  "phy_init_done"    IOSTANDARD = LVCMOS18 | SLEW=SLOW | DRIVE=2;
#
###  BUS_ERROR_1        # F6 , Bank 12, Vcco=3.3V, DCI using 49.9 ohm resistors
## "error"            LOC = "AJ32" ; #REAL->"F6"; FAKE->"AJ32" for MIG#
NET  "error"            LOC = "F6" ; #REAL->"F6"; FAKE->"AJ32" for MIG#
NET  "error"            IOSTANDARD = LVCMOS18;

#\
#NOTE: MIG likes to error out on "sys_rst_n", "phy_init_done", "error" LOC's,
#      so perhaps just let it change them then reset to E9,H18,F6 (respectively).
#       It's rules want banks "11,13,15,17,19,21,23,25" only (odds from 11-25).
#           K24,M27, or AE32,AG32,AJ32,AK33 (bank 13)???
#>
#
#NOTE: Below, DIFF_SSTL18_II for "ddr2_ck" & "ddr2_dqs" (others SSTL18_II).
#/

############################################################################
##
##  Xilinx, Inc. 2006            www.xilinx.com
##  Sun Nov 17 05:24:28 2013
##  Generated by MIG Version 3.6.1
##
############################################################################
##  File name :       mig_3_6_1.ucf
##
##  Details :     Constraints file
##                    FPGA family:       virtex5
##                    FPGA:              xc5vlx110t-ff1136
##                    Speedgrade:        -1
##                    Design Entry:      VHDL
##                    Design:            with Test bench
##                    DCM Used:          Enable
##                    Two Bytes per Bank:Disable
##                    No.Of Controllers: 1
##
############################################################################

############################################################################
# Clock constraints                                                        #
############################################################################

NET "u_ddr2_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK" ;
//TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 5 ns HIGH 50 %;
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 3.75 ns HIGH 50 %;

NET "u_ddr2_infrastructure/clk200_ibufg" TNM_NET = "SYS_CLK_200" ;
TIMESPEC "TS_SYS_CLK_200" = PERIOD "SYS_CLK_200" 5 ns HIGH 50 %;

############################################################################
########################################################################
# Controller 0
# Memory Device: DDR2_SDRAM->SODIMMs->MT4HTF3264HY-53E
# Data Width:     64
# Frequency:      200
# Time Period:      5000
# Data Mask:     1
########################################################################


################################################################################
# I/O STANDARDS
################################################################################

NET  "ddr2_dq[*]"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_a[*]"                                IOSTANDARD = SSTL18_II;
NET  "ddr2_ba[*]"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_ras_n"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_cas_n"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_we_n"                                IOSTANDARD = SSTL18_II;
NET  "ddr2_cs_n[*]"                             IOSTANDARD = SSTL18_II;
NET  "ddr2_odt[*]"                              IOSTANDARD = SSTL18_II;
NET  "ddr2_cke[*]"                              IOSTANDARD = SSTL18_II;
NET  "ddr2_dm[*]"                               IOSTANDARD = SSTL18_II;
NET  "ddr2_dqs[*]"                              IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_dqs_n[*]"                            IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_ck[*]"                               IOSTANDARD = DIFF_SSTL18_II;
NET  "ddr2_ck_n[*]"                             IOSTANDARD = DIFF_SSTL18_II;

################################################################################
# Location Constraints
################################################################################

NET  "ddr2_dq[0]"                                LOC = "AF30" ;
NET  "ddr2_dq[1]"                                LOC = "AK31" ;
NET  "ddr2_dq[2]"                                LOC = "AF31" ;
NET  "ddr2_dq[3]"                                LOC = "AD30" ;
NET  "ddr2_dq[4]"                                LOC = "AJ30" ;
NET  "ddr2_dq[5]"                                LOC = "AF29" ;
NET  "ddr2_dq[6]"                                LOC = "AD29" ;
NET  "ddr2_dq[7]"                                LOC = "AE29" ;
NET  "ddr2_dq[8]"                                LOC = "AH27" ;
NET  "ddr2_dq[9]"                                LOC = "AF28" ;
NET  "ddr2_dq[10]"                               LOC = "AH28" ;
NET  "ddr2_dq[11]"                               LOC = "AA28" ;
NET  "ddr2_dq[12]"                               LOC = "AG25" ;
NET  "ddr2_dq[13]"                               LOC = "AJ26" ;
NET  "ddr2_dq[14]"                               LOC = "AG28" ;
NET  "ddr2_dq[15]"                               LOC = "AB28" ;
NET  "ddr2_dq[16]"                               LOC = "AC28" ;
NET  "ddr2_dq[17]"                               LOC = "AB25" ;
NET  "ddr2_dq[18]"                               LOC = "AC27" ;
NET  "ddr2_dq[19]"                               LOC = "AA26" ;
NET  "ddr2_dq[20]"                               LOC = "AB26" ;
NET  "ddr2_dq[21]"                               LOC = "AA24" ;
NET  "ddr2_dq[22]"                               LOC = "AB27" ;
NET  "ddr2_dq[23]"                               LOC = "AA25" ;
NET  "ddr2_dq[24]"                               LOC = "AC29" ;
NET  "ddr2_dq[25]"                               LOC = "AB30" ;
NET  "ddr2_dq[26]"                               LOC = "W31" ;
NET  "ddr2_dq[27]"                               LOC = "V30" ;
NET  "ddr2_dq[28]"                               LOC = "AC30" ;
NET  "ddr2_dq[29]"                               LOC = "W29" ;
NET  "ddr2_dq[30]"                               LOC = "V27" ;
NET  "ddr2_dq[31]"                               LOC = "W27" ;
NET  "ddr2_dq[32]"                               LOC = "V29" ;
NET  "ddr2_dq[33]"                               LOC = "Y27" ;
NET  "ddr2_dq[34]"                               LOC = "Y26" ;
NET  "ddr2_dq[35]"                               LOC = "W24" ;
NET  "ddr2_dq[36]"                               LOC = "V28" ;
NET  "ddr2_dq[37]"                               LOC = "W25" ;
NET  "ddr2_dq[38]"                               LOC = "W26" ;
NET  "ddr2_dq[39]"                               LOC = "V24" ;
NET  "ddr2_dq[40]"                               LOC = "R24" ;
NET  "ddr2_dq[41]"                               LOC = "P25" ;
NET  "ddr2_dq[42]"                               LOC = "N24" ;
NET  "ddr2_dq[43]"                               LOC = "P26" ;
NET  "ddr2_dq[44]"                               LOC = "T24" ;
NET  "ddr2_dq[45]"                               LOC = "N25" ;
NET  "ddr2_dq[46]"                               LOC = "P27" ;
NET  "ddr2_dq[47]"                               LOC = "N28" ;
NET  "ddr2_dq[48]"                               LOC = "M28" ;
NET  "ddr2_dq[49]"                               LOC = "L28" ;
NET  "ddr2_dq[50]"                               LOC = "F25" ;
NET  "ddr2_dq[51]"                               LOC = "H25" ;
NET  "ddr2_dq[52]"                               LOC = "K27" ;
NET  "ddr2_dq[53]"                               LOC = "K28" ;
NET  "ddr2_dq[54]"                               LOC = "H24" ;
NET  "ddr2_dq[55]"                               LOC = "G26" ;
NET  "ddr2_dq[56]"                               LOC = "G25" ;
NET  "ddr2_dq[57]"                               LOC = "M26" ;
NET  "ddr2_dq[58]"                               LOC = "J24" ;
NET  "ddr2_dq[59]"                               LOC = "L26" ;
NET  "ddr2_dq[60]"                               LOC = "J27" ;
NET  "ddr2_dq[61]"                               LOC = "M25" ;
NET  "ddr2_dq[62]"                               LOC = "L25" ;
NET  "ddr2_dq[63]"                               LOC = "L24" ;
#
NET  "ddr2_a[12]"                                LOC = "T31" ;
NET  "ddr2_a[11]"                                LOC = "R29" ;
NET  "ddr2_a[10]"                                LOC = "J31" ;
NET  "ddr2_a[9]"                                 LOC = "R28" ;
NET  "ddr2_a[8]"                                 LOC = "M31" ;
NET  "ddr2_a[7]"                                 LOC = "P30" ;
NET  "ddr2_a[6]"                                 LOC = "P31" ;
NET  "ddr2_a[5]"                                 LOC = "L31" ;
NET  "ddr2_a[4]"                                 LOC = "K31" ;
NET  "ddr2_a[3]"                                 LOC = "P29" ;
NET  "ddr2_a[2]"                                 LOC = "N29" ;
NET  "ddr2_a[1]"                                 LOC = "M30" ;
NET  "ddr2_a[0]"                                 LOC = "L30" ;
#
NET  "ddr2_ba[0]"                                LOC = "G31" ;
NET  "ddr2_ba[1]"                                LOC = "J30" ;
###  "ddr2_ba[2]"                                LOC = "R31" ;
NET  "ddr2_ras_n"                                LOC = "H30" ;
NET  "ddr2_cas_n"                                LOC = "E31" ;
NET  "ddr2_we_n"                                 LOC = "K29" ;
NET  "ddr2_cs_n[0]"                              LOC = "L29" ;
NET  "ddr2_cs_n[1]"                              LOC = "J29" ;
NET  "ddr2_odt[0]"                               LOC = "F31" ;
NET  "ddr2_odt[1]"                               LOC = "F30" ;
NET  "ddr2_cke[0]"                               LOC = "T28" ;
NET  "ddr2_cke[1]"                               LOC = "U30" ;
#
NET  "ddr2_dm[0]"                                LOC = "AJ31" ;
NET  "ddr2_dm[1]"                                LOC = "AE28" ;
NET  "ddr2_dm[2]"                                LOC = "Y24" ;
NET  "ddr2_dm[3]"                                LOC = "Y31" ;
NET  "ddr2_dm[4]"                                LOC = "V25" ;
NET  "ddr2_dm[5]"                                LOC = "P24" ;
NET  "ddr2_dm[6]"                                LOC = "F26" ;
NET  "ddr2_dm[7]"                                LOC = "J25" ;
NET  "ddr2_dqs[0]"                               LOC = "AA29" ;
NET  "ddr2_dqs_n[0]"                             LOC = "AA30" ;
NET  "ddr2_dqs[1]"                               LOC = "AK28" ;
NET  "ddr2_dqs_n[1]"                             LOC = "AK27" ;
NET  "ddr2_dqs[2]"                               LOC = "AK26" ;
NET  "ddr2_dqs_n[2]"                             LOC = "AJ27" ;
NET  "ddr2_dqs[3]"                               LOC = "AB31" ;
NET  "ddr2_dqs_n[3]"                             LOC = "AA31" ;
NET  "ddr2_dqs[4]"                               LOC = "Y28" ;
NET  "ddr2_dqs_n[4]"                             LOC = "Y29" ;
NET  "ddr2_dqs[5]"                               LOC = "E26" ;
NET  "ddr2_dqs_n[5]"                             LOC = "E27" ;
NET  "ddr2_dqs[6]"                               LOC = "H28" ;
NET  "ddr2_dqs_n[6]"                             LOC = "G28" ;
NET  "ddr2_dqs[7]"                               LOC = "G27" ;
NET  "ddr2_dqs_n[7]"                             LOC = "H27" ;
#
NET  "ddr2_ck[0]"                                LOC = "AK29" ;
NET  "ddr2_ck_n[0]"                              LOC = "AJ29" ;
NET  "ddr2_ck[1]"                                LOC = "E28" ;
NET  "ddr2_ck_n[1]"                              LOC = "F28" ;
#

