Net USER_CLK            LOC = AH15  |  IOSTANDARD=LVCMOS33;
Net USER_CLK    TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD USER_CLK 10.0 ns HIGH 50%;

Net USER_RST    TIG;
Net USER_RST            LOC = E9    |  IOSTANDARD=LVCMOS33;

Net FPGA_SERIAL_RX      LOC = AG15  |  IOSTANDARD=LVCMOS33;
Net FPGA_SERIAL_TX      LOC = AG20  |  IOSTANDARD=LVCMOS33;
