
INST "sram" AREA_GROUP = "pblock_sram";
AREA_GROUP "pblock_sram" RANGE=SLICE_X98Y120:SLICE_X99Y129, SLICE_X72Y100:SLICE_X83Y109;

INST "CPU/FWD*" AREA_GROUP = "pblock_CPU";
INST "CPU/PIPR*" AREA_GROUP = "pblock_CPU";
INST "CPU/REGFILE*" AREA_GROUP = "pblock_CPU";
INST "CPU/DO_ISR*" AREA_GROUP = "pblock_CPU";
INST "CPU/cop0*" AREA_GROUP = "pblock_CPU";
INST "CPU/s_F" AREA_GROUP = "pblock_CPU";
INST "CPU/s_MW" AREA_GROUP = "pblock_CPU";
INST "CPU/s_DX" AREA_GROUP = "pblock_CPU";
INST "CPU/previewFetch" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0005*" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0002*" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0006*" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0003*" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0004*" AREA_GROUP = "pblock_CPU";
INST "CPU/_and0000*" AREA_GROUP = "pblock_CPU";
AREA_GROUP "pblock_CPU" RANGE=SLICE_X40Y110:SLICE_X107Y114, SLICE_X56Y120:SLICE_X97Y144, SLICE_X28Y135:SLICE_X55Y149, SLICE_X28Y120:SLICE_X39Y129;
AREA_GROUP "pblock_CPU" RANGE=DSP48_X0Y46:DSP48_X0Y59;

INST "dvi" AREA_GROUP = "pblock_dvi";
AREA_GROUP "pblock_dvi" RANGE=SLICE_X96Y54:SLICE_X99Y89, SLICE_X92Y30:SLICE_X95Y89, SLICE_X56Y65:SLICE_X79Y79;
AREA_GROUP "pblock_dvi" RANGE=RAMB36_X2Y13:RAMB36_X2Y15;

INST "mem_arch/wdf*" AREA_GROUP = "pblock_ddr2";
INST "mem_arch/ddr2*" AREA_GROUP = "pblock_ddr2";
INST "mem_arch/req_con*" AREA_GROUP = "pblock_ddr2";
INST "mem_arch/stall*" AREA_GROUP = "pblock_ddr2";
INST "mem_arch/af_rd*" AREA_GROUP = "pblock_ddr2";
AREA_GROUP "pblock_ddr2" RANGE=SLICE_X56Y85:SLICE_X71Y94, SLICE_X28Y95:SLICE_X39Y114, SLICE_X28Y60:SLICE_X39Y79, SLICE_X18Y60:SLICE_X27Y129, SLICE_X8Y40:SLICE_X17Y134, SLICE_X0Y20:SLICE_X7Y144;
AREA_GROUP "pblock_ddr2" RANGE=RAMB36_X2Y17:RAMB36_X2Y18, RAMB36_X1Y27:RAMB36_X1Y27, RAMB36_X1Y24:RAMB36_X1Y25, RAMB36_X1Y22:RAMB36_X1Y22, RAMB36_X1Y20:RAMB36_X1Y20, RAMB36_X1Y17:RAMB36_X1Y17, RAMB36_X1Y12:RAMB36_X1Y14, RAMB36_X0Y25:RAMB36_X0Y27, RAMB36_X0Y19:RAMB36_X0Y22, RAMB36_X0Y15:RAMB36_X0Y16, RAMB36_X0Y10:RAMB36_X0Y11;

INST "mem_arch/pixelfeed" AREA_GROUP = "pblock_pixelfeed";
AREA_GROUP "pblock_pixelfeed" RANGE=SLICE_X92Y90:SLICE_X99Y94, SLICE_X96Y30:SLICE_X99Y53, SLICE_X72Y90:SLICE_X91Y99, SLICE_X80Y30:SLICE_X91Y84, SLICE_X56Y80:SLICE_X79Y84, SLICE_X56Y55:SLICE_X79Y64, SLICE_X40Y105:SLICE_X71Y109;
AREA_GROUP "pblock_pixelfeed" RANGE=RAMB36_X2Y18:RAMB36_X3Y19, RAMB36_X3Y6:RAMB36_X3Y16, RAMB36_X2Y21:RAMB36_X2Y21, RAMB36_X2Y16:RAMB36_X2Y16, RAMB36_X2Y11:RAMB36_X2Y12;

INST "mem_arch/icache" AREA_GROUP = "pblock_cache";
INST "mem_arch/dcache" AREA_GROUP = "pblock_cache";
AREA_GROUP "pblock_cache" RANGE=SLICE_X34Y150:SLICE_X91Y159, SLICE_X22Y150:SLICE_X29Y157, SLICE_X22Y135:SLICE_X27Y149, SLICE_X18Y130:SLICE_X55Y134, SLICE_X28Y115:SLICE_X71Y119;
AREA_GROUP "pblock_cache" RANGE=RAMB36_X2Y30:RAMB36_X3Y31, RAMB36_X1Y28:RAMB36_X1Y30, RAMB36_X1Y26:RAMB36_X1Y26, RAMB36_X1Y23:RAMB36_X1Y23, RAMB36_X1Y21:RAMB36_X1Y21, RAMB36_X0Y28:RAMB36_X0Y28, RAMB36_X0Y23:RAMB36_X0Y24;

INST "CPU/regfile" AREA_GROUP = "pblock_regfile";
AREA_GROUP "pblock_regfile" RANGE=SLICE_X48Y120:SLICE_X55Y129;

INST "CPU/bram_dmem" AREA_GROUP = "pblock_bram_dmem";
AREA_GROUP "pblock_bram_dmem" RANGE=RAMB36_X2Y22:RAMB36_X2Y25;
INST "CPU/bram_imem" AREA_GROUP = "pblock_bram_imem";
AREA_GROUP "pblock_bram_imem" RANGE=RAMB36_X3Y26:RAMB36_X3Y29;
INST "CPU/brom_bios" AREA_GROUP = "pblock_brom_bios";
AREA_GROUP "pblock_brom_bios" RANGE=RAMB36_X2Y26:RAMB36_X2Y29;
INST "CPU/bram_isr" AREA_GROUP = "pblock_bram_isr";
AREA_GROUP "pblock_bram_isr" RANGE=RAMB36_X3Y22:RAMB36_X3Y25;

INST "CPU/memmap*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/dcache*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/icache*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/P_dcache*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/P_hoti*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/hoti*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/_hot_ISR*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/MUX_IMEM*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/MUX_DMEM*" AREA_GROUP = "pblock_memmap_io";
INST "CPU/_WData*" AREA_GROUP = "pblock_memmap_io";
AREA_GROUP "pblock_memmap_io" RANGE=SLICE_X48Y85:SLICE_X55Y104, SLICE_X48Y0:SLICE_X49Y54, SLICE_X40Y127:SLICE_X47Y129;

INST "CPU/uartrva" AREA_GROUP = "pblock_uartrva";
AREA_GROUP "pblock_uartrva" RANGE=SLICE_X56Y95:SLICE_X71Y104;

INST "mem_arch/*scanlinerunner*" AREA_GROUP = "pblock_gpu";
INST "mem_arch/graphicsprocessor" AREA_GROUP = "pblock_gpu";
INST "mem_arch/framefill" AREA_GROUP = "pblock_gpu";
INST "mem_arch/le" AREA_GROUP = "pblock_gpu";
INST "mem_arch/_varindex*" AREA_GROUP = "pblock_gpu";
INST "mem_arch/next_SLR*" AREA_GROUP = "pblock_gpu";
INST "mem_arch/live_SLR*" AREA_GROUP = "pblock_gpu";
AREA_GROUP "pblock_gpu" RANGE=SLICE_X28Y80:SLICE_X47Y94, SLICE_X30Y150:SLICE_X33Y159, SLICE_X22Y158:SLICE_X29Y159, SLICE_X8Y135:SLICE_X21Y159, SLICE_X0Y145:SLICE_X7Y159;
AREA_GROUP "pblock_gpu" RANGE=DSP48_X0Y56:DSP48_X0Y63, DSP48_X0Y52:DSP48_X0Y53, DSP48_X0Y24:DSP48_X0Y41;
AREA_GROUP "pblock_gpu" RANGE=RAMB36_X1Y18:RAMB36_X1Y19, RAMB36_X1Y15:RAMB36_X1Y16, RAMB36_X0Y29:RAMB36_X0Y31, RAMB36_X0Y17:RAMB36_X0Y18;


# PlanAhead Generated miscellaneous constraints 

INST "CPU" KEEP_HIERARCHY = TRUE;
INST "mem_arch" KEEP_HIERARCHY = TRUE;

INST "sram" KEEP_HIERARCHY = FALSE;
INST "*togglestall_debone*" KEEP_HIERARCHY = FALSE;
INST "dvi" KEEP_HIERARCHY = FALSE;
INST "CPU/cop0" KEEP_HIERARCHY = FALSE;
INST "CPU/s_MW" KEEP_HIERARCHY = FALSE;
INST "CPU/s_F" KEEP_HIERARCHY = FALSE;
INST "CPU/s_DX" KEEP_HIERARCHY = FALSE;
INST "CPU/PIPR_*" KEEP_HIERARCHY = FALSE;
INST "CPU/previewFetch" KEEP_HIERARCHY = FALSE;
INST "CPU/memmap_io" KEEP_HIERARCHY = FALSE;
INST "CPU/regfile" KEEP_HIERARCHY = FALSE;
INST "CPU/uartrva" KEEP_HIERARCHY = FALSE;
INST "CPU/brom_bios" KEEP_HIERARCHY = FALSE;
INST "CPU/bram_isr" KEEP_HIERARCHY = FALSE;
INST "CPU/bram_imem" KEEP_HIERARCHY = FALSE;
INST "CPU/bram_dmem" KEEP_HIERARCHY = FALSE;
INST "mem_arch/req_con" KEEP_HIERARCHY = FALSE;
INST "mem_arch/icache" KEEP_HIERARCHY = FALSE;
INST "mem_arch/dcache" KEEP_HIERARCHY = FALSE;
INST "mem_arch/ddr2" KEEP_HIERARCHY = FALSE;
INST "mem_arch/ddr2_write_fifo*" KEEP_HIERARCHY = FALSE;
INST "mem_arch/ddr2_read_fifo*" KEEP_HIERARCHY = FALSE;
INST "mem_arch/ddr2_addr_fifo*" KEEP_HIERARCHY = FALSE;
