# PlanAhead Generated physical constraints 

INST "sram" AREA_GROUP = "pblock_sram";
AREA_GROUP "pblock_sram" RANGE=SLICE_X60Y95:SLICE_X71Y104;
INST "CPU" AREA_GROUP = "pblock_CPU";
AREA_GROUP "pblock_CPU" RANGE=SLICE_X58Y106:SLICE_X107Y149;
AREA_GROUP "pblock_CPU" RANGE=RAMB36_X2Y22:RAMB36_X4Y29;
INST "dvi" AREA_GROUP = "pblock_dvi";
AREA_GROUP "pblock_dvi" RANGE=SLICE_X96Y20:SLICE_X101Y59, SLICE_X48Y86:SLICE_X55Y89;
INST "mem_arch/ddr2" AREA_GROUP = "pblock_mig";
AREA_GROUP "pblock_mig" RANGE=SLICE_X48Y140:SLICE_X57Y149, SLICE_X48Y74:SLICE_X55Y85, SLICE_X26Y90:SLICE_X43Y104, SLICE_X0Y23:SLICE_X15Y142;
AREA_GROUP "pblock_mig" RANGE=DSP48_X0Y36:DSP48_X0Y41;
AREA_GROUP "pblock_mig" RANGE=RAMB36_X1Y18:RAMB36_X1Y20, RAMB36_X0Y5:RAMB36_X0Y27;
INST "mem_arch/ddr2/u_ddr2_infrastructure" AREA_GROUP = "pblock_mig_infr";
AREA_GROUP "pblock_mig_infr" RANGE=SLICE_X12Y84:SLICE_X15Y89, SLICE_X12Y70:SLICE_X15Y75;
AREA_GROUP "pblock_u_usr_addr_fifo" RANGE=SLICE_X6Y125:SLICE_X9Y139;
AREA_GROUP "pblock_u_usr_addr_fifo" RANGE=RAMB36_X0Y25:RAMB36_X0Y27;
INST "mem_arch/ddr2_write_fifo" AREA_GROUP = "pblock_ddr2_write_fifo";
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=SLICE_X54Y117:SLICE_X57Y123, SLICE_X28Y105:SLICE_X29Y129, SLICE_X16Y80:SLICE_X19Y85;
AREA_GROUP "pblock_ddr2_write_fifo" RANGE=RAMB36_X1Y21:RAMB36_X1Y25;
INST "mem_arch/ddr2_read_fifo" AREA_GROUP = "pblock_ddr2_read_fifo";
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=SLICE_X54Y110:SLICE_X57Y116, SLICE_X28Y65:SLICE_X29Y89, SLICE_X16Y74:SLICE_X19Y79;
AREA_GROUP "pblock_ddr2_read_fifo" RANGE=RAMB36_X1Y13:RAMB36_X1Y17;
INST "mem_arch/ddr2/u_ddr2_top_0/u_mem_if_top/u_phy_top" AREA_GROUP = "pblock_u_phy_top";
AREA_GROUP "pblock_u_phy_top" RANGE=SLICE_X10Y114:SLICE_X15Y119, SLICE_X10Y40:SLICE_X15Y45, SLICE_X8Y73:SLICE_X11Y86, SLICE_X0Y25:SLICE_X5Y141;
INST "mem_arch/ddr2/u_ddr2_top_0/u_mem_if_top/u_usr_top" AREA_GROUP = "pblock_u_usr_top";
AREA_GROUP "pblock_u_usr_top" RANGE=SLICE_X52Y140:SLICE_X55Y147, SLICE_X48Y80:SLICE_X53Y85, SLICE_X26Y95:SLICE_X35Y104, SLICE_X6Y70:SLICE_X7Y89;
AREA_GROUP "pblock_u_usr_top" RANGE=DSP48_X0Y38:DSP48_X0Y41;
AREA_GROUP "pblock_u_usr_top" RANGE=RAMB36_X1Y19:RAMB36_X1Y20, RAMB36_X0Y14:RAMB36_X0Y17;
INST "mem_arch/ddr2_addr_fifo" AREA_GROUP = "pblock_ddr2_addr_fifo";
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=SLICE_X28Y130:SLICE_X29Y139;
AREA_GROUP "pblock_ddr2_addr_fifo" RANGE=RAMB36_X1Y26:RAMB36_X1Y27;
INST "mem_arch/pixelfeed" AREA_GROUP = "pblock_pixelfeed";
AREA_GROUP "pblock_pixelfeed" RANGE=SLICE_X30Y80:SLICE_X43Y89, SLICE_X90Y20:SLICE_X95Y79;
AREA_GROUP "pblock_pixelfeed" RANGE=DSP48_X0Y32:DSP48_X0Y35;
AREA_GROUP "pblock_pixelfeed" RANGE=RAMB36_X3Y4:RAMB36_X3Y15;
